<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo.png') }}">
<style>
  select.barra-cpf {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: var(--bg-input);
    color: var(--cor-texto);
    font-weight: 500;
  }

  select.barra-cpf option {
    background: var(--gradiente-fim);
    color: var(--cor-texto);
  }

  select.barra-cpf {
    background-image: linear-gradient(45deg, transparent 50%, #00b848 50%),
      linear-gradient(135deg, #00b848 50%, transparent 50%);
    background-position: calc(100% - 18px) center, calc(100% - 12px) center;
    background-size: 6px 6px, 6px 6px;
    background-repeat: no-repeat;
  }

  select.barra-cpf:focus {
    outline: none;
    border-color: #00b848;
    box-shadow: 0 0 6px rgba(0, 255, 128, 0.4);
  }
</style>
{% extends "base.html" %}
{% block title %}Editar Proposta{% endblock %}

{% block content %}
<h1 class="titulo-tomorrow">Editar Proposta</h1>

<div class="container">
  <form method="POST">

    <div class="form-linha">
      <label>Fonte:</label>
      <select class="barra-cpf" name="fonte" required>
        {% for f in ['URA','Disparo/Whatsapp','Disparo/SMS','Indicação','Discadora','Tráfego'] %}
        <option value="{{ f }}" {% if proposta[2]==f %}selected{% endif %}>{{ f }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-linha">
      <label>Banco:</label>
      <select class="barra-cpf" name="banco" id="banco" required>
        <option value="Qualibank" {% if proposta[3]=='Qualibank' %}selected{% endif %}>Qualibank</option>
        <option value="PAN" {% if proposta[3]=='PAN' %}selected{% endif %}>PAN</option>
        <option value="Amigoz" {% if proposta[3]=='Amigoz' %}selected{% endif %}>Amigoz</option>
        <option value="V8" {% if proposta[3]=='V8' %}selected{% endif %}>V8</option>
        <option value="Facta-CLT" {% if proposta[3]=='Facta-CLT' %}selected{% endif %}>Facta - CLT</option>
        <option value="Facta-FGTS" {% if proposta[3]=='Facta-FGTS' %}selected{% endif %}>Facta - FGTS </option>
        <option value="Tá Quitado" {% if proposta[3]=='Tá Quitado' %}selected{% endif %}>Tá Quitado</option>
      </select>
    </div>

    <div class="form-linha">
      <label>Senha Digitada:</label>
      <select class="barra-cpf" name="senha_digitada" id="senha_digitada" required>
        <option value="{{ proposta[4] }}">{{ proposta[4] }}</option>
      </select>
    </div>

    <div class="form-linha">
      <label>Produto:</label>
      <select class="barra-cpf" name="produto" id="produto" required>
        <option value="{{ proposta[14] }}">{{ proposta[14] }}</option>
      </select>
    </div>

    <div class="form-linha">
      <label>Tabela:</label>
      <select class="barra-cpf" name="tabela" id="tabela" required>
        <option value="{{ proposta[5] }}">{{ proposta[5] }}</option>
      </select>
    </div>

    <div class="form-linha" style="display:flex; gap:10px;">
      <div style="flex:1;">
        <label>Valor da Parcela:</label>
        <input class="barra-cpf" name="valor_parcela" value="{{ proposta[12] or '' }}">
      </div>
      <div style="flex:1;">
        <label>Qtd. Parcelas:</label>
        <input class="barra-cpf" name="quantidade_parcelas" value="{{ proposta[13] or '' }}">
      </div>
    </div>

    <div class="form-linha">
      <input class="barra-cpf" name="nome_cliente" value="{{ proposta[6] }}" required>
      <input class="barra-cpf" name="cpf" value="{{ proposta[7] }}" required>
    </div>

    <div class="form-linha">
      <input class="barra-cpf" name="telefone" value="{{ proposta[11] }}">
      <input class="barra-cpf" name="valor_equivalente" value="{{ proposta[8] }}">
      <input class="barra-cpf" name="valor_original" value="{{ proposta[9] }}">
    </div>

    <div class="form-linha">
      <label>Observação:</label>
      <select class="barra-cpf" name="observacao" id="observacao">
        {% for o in ['PAGO','AGUARDANDO SALDO','EM ANALISE','REPRESENTAÇÃO', 'CANCELADO', 'AGUARDANDO AVERBAÇÃO'] %}
        <option value="{{ o }}" {% if proposta[10]==o %}selected{% endif %}>{{ o }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-linha" id="linha-data" style="display:none;">
      <label>Data CIP:</label>
      <input class="barra-cpf" name="data_pagamento_prevista" value="{{ proposta[15] or '' }}" placeholder="dd/mm/aaaa">
    </div>

    <div class="form-linha" id="linha-motivo-cancelamento" style="display:none;">
      <label>Motivo do Cancelamento:</label>
      <select class="barra-cpf" name="motivo_cancelamento">
        <option value="">Selecione o motivo</option>
        {% for m in [
        'Contrato liquidado/finalizado',
        'Variação de valores',
        'Retenção',
        'Contrato em andamento',
        'Número divergente do contrato',
        'Desistência',
        'Margem excedida'
        ] %}
        <option value="{{ m }}" {% if proposta[16]==m %}selected{% endif %}>{{ m }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-linha">
      <label>Data e Hora (opcional):</label>
      <input class="barra-cpf" type="datetime-local" name="data_manual" value="{% if proposta[1] %}
          {% if proposta[1] is string %}
            {{ proposta[1][:16] }}
          {% else %}
            {{ proposta[1].strftime('%Y-%m-%dT%H:%M') }}
          {% endif %}
        {% endif %}">
    </div>

    <button class="azul">
      <i class="fa fa-save"></i> Salvar Alterações
    </button>

  </form>
</div>
<script>
  const dados = {
    "Qualibank": {
      senhas: ["thaina73@hotmail.com"],
      tabelas: [
        "000304 PORTABILIDADE + REFINANCIAMENTO 1,85% 96X SEM SEGURO MIN 6 MIL",
        "000305 PORTABILIDADE + REFINANCIAMENTO 1,83% 96X SEM SEGURO MIN 6 MIL",
        "000322 PORTABILIDADE + REFINANCIAMENTO 1,85% 96X SEM SEGURO BEN 32 MIN 6 MIL",
        "000306 PORTABILIDADE + REFINANCIAMENTO 1,80% 96X SEM SEGURO MIN 6 MIL",
        "QUALIBANKING INSS 000139 PORTABILIDADE 1,80%",
        "000323 PORTABILIDADE + REFINANCIAMENTO 1,83% 96X SEM SEGURO BEN 32 MIN 6 MIL",
        "QUALIBANKING INSS 000073 PORTABILIDADE 1,75%",
        "000307 PORTABILIDADE + REFINANCIAMENTO 1,78% 96X SEM SEGURO MIN 8 MIL",
        "000308 PORTABILIDADE + REFINANCIAMENTO 1,75% 96X SEM SEGURO MIN 8 MIL",
        "000324 PORTABILIDADE + REFINANCIAMENTO 1,80% 96X SEM SEGURO BEN 32 MIN 6 MIL",
        "000309 PORTABILIDADE + REFINANCIAMENTO 1,72% 96X SEM SEGURO MIN 8 MIL",
        "000325 PORTABILIDADE + REFINANCIAMENTO 1,78% 96X SEM SEGURO BEN 32 MIN 8 MIL 96X",
        "000074 PORTABILIDADE 1,70% A 1,74%",
        "000310 PORTABILIDADE + REFINANCIAMENTO 1,70% 96X SEM SEGURO MIN 8 MIL",
        "000330 PORTABILIDADE + REFINANCIAMENTO 1,75% 96X SEM SEGURO BEN 32 MIN 8 MIL",
        "000311 PORTABILIDADE + REFINANCIAMENTO 1,68% 96X SEM SEGURO MIN 8 MIL",
        "000326 PORTABILIDADE + REFINANCIAMENTO 1,72% 96X SEM SEGURO BEN 32 MIN 8 MIL",
        "000312 PORTABILIDADE + REFINANCIAMENTO 1,66% 96X SEM SEGURO MIN 8 MIL",
        "000316 NOVO SEM SEGURO 96X 1,85%", "000317 ENTRANTE SEM SEGURO 96X 1,85%",
        "000327 NOVO SEM SEGURO BEN 32 96X 1,85%", "000328 ENTRANTE SEM SEGURO BEN 32 96X 1,85%",
        "000332 AUMENTO SEM SEGURO BEN 32 96X 1,85%", "000234 AUMENTO SEM SEGURO 96X 1,85%"
      ]
    },

    "PAN": {
      senhas: ["50187921830", "51077297890", "30612588840", "55472794803"],
      tabelas: ["6X", "12X", "18X", "24X", "36X", "48X"]
    },

    "Amigoz": {
      senhas: ["306.125.888-40", "458.491.998-45", "510.772.978-90", "501.879.218-30"],
      tabelas: [
        "36x c/ seguro", "24x c/ seguro", "18x c/ seguro",
        "36x s/ seguro", "24x s/ seguro", "18x s/ seguro"
      ]
    },

    "V8": {
      senhas: ["thaina737373@gmail.com"],
      tabelas: [
        "CLT ACELERA - COM SEGURO - 6X", "CLT ACELERA - COM SEGURO - 12x",
        "CLT ACELERA - COM SEGURO - 18x", "CLT ACELERA - COM SEGURO - 24x",
        "CLT ACELERA - SEM SEGURO - 6X", "CLT ACELERA - SEM SEGURO - 8x",
        "CLT ACELERA - SEM SEGURO - 10x", "CLT ACELERA - SEM SEGURO - 12x",
        "CLT ACELERA - SEM SEGURO - 18x", "CLT ACELERA - SEM SEGURO - 24x"
      ]
    },

    "Facta-CLT": {
      senhas: ["96552_biancafaria", "99365_biancafaria",],
      tabelas: ["63096 - NOVO GOLD	48x", "63096 - NOVO GOLD	42x", "63096 - NOVO GOLD	36x", "63096 - NOVO GOLD	30X", "63096 - NOVO GOLD	24X", "63096 - NOVO GOLD	20X",
        "63096 - NOVO GOLD	18X", "63096 - NOVO GOLD	15X", "63096 - NOVO GOLD	14x", "63096 - NOVO GOLD	12x", "63053 - NOVO SMART	48x", "63053 - NOVO SMART	42x", "63053 - NOVO SMART	36x",
        "63053 - NOVO SMART	30x", "63053 - NOVO SMART	24x", "63053 - NOVO SMART	20x", "63053 - NOVO SMART	18x", "63053 - NOVO SMART	15x", "63053 - NOVO SMART	14x", "63053 - NOVO SMART	12x"]
    },

    "Facta-FGTS": {
      senhas: ["99365_biancafaria", "96552_biancafaria"],
      tabelas: ["GOLD PREMIUM RB (61115)", "GOLD PREMIUM RB (62154)", "GOLD PREFERENCE RB (61379)", "GOLD PREFERENCE RB (62170)", "PLUS RB (62189)", "GOLD POWER RB (60119)", "LIGHT RB (62138)", "GOLD FIDELIZA RB (63703)"]
    },

    "Tá Quitado": {
      senhas: ["thaina73@hotmail.com"],
      tabelas: ["TQ FREE 2.0", "TQ LIGHT 2.0", "TQ FLEX 2.0", "TQ FLEX+ 2.0", "TQ TOTAL A", "TQ TOTAL B", "TQ MAX", "TQ MAX+"]
    },
  };
  const produtos = [
    "NOVO",
    "PORT",
    "PORT + REFIN",
    "REFIN",
    "CARTÃO RMC",
    "CARTÃO RCC",
    "SAQUE COMPLEMENTAR",
    "CLT",
    "FGTS"
  ];

  const banco = document.getElementById("banco");
  const senha = document.getElementById("senha_digitada");
  const produto = document.getElementById("produto");
  const tabela = document.getElementById("tabela");

  banco.addEventListener("change", () => {
    senha.innerHTML = '<option value="">Selecione a Senha</option>';
    produto.innerHTML = '<option value="">Selecione o Produto</option>';
    tabela.innerHTML = '<option value="">Selecione a Tabela</option>';

    if (dados[banco.value]) {
      dados[banco.value].senhas.forEach(s => {
        senha.innerHTML += `<option value="${s}">${s}</option>`;
      });
    }
  });

  senha.addEventListener("change", () => {
    produto.innerHTML = '<option value="">Selecione o Produto</option>';
    produtos.forEach(p => {
      produto.innerHTML += `<option value="${p}">${p}</option>`;
    });
  });

  produto.addEventListener("change", () => {
    tabela.innerHTML = '<option value="">Selecione a Tabela</option>';
    if (dados[banco.value]) {
      dados[banco.value].tabelas.forEach(t => {
        tabela.innerHTML += `<option value="${t}">${t}</option>`;
      });
    }
  });

  const obs = document.getElementById("observacao");
  const linha = document.getElementById("linha-data");

  const linhaMotivo = document.getElementById("linha-motivo-cancelamento");

  function toggleCampos() {
    if (obs.value === "AGUARDANDO SALDO") {
      linha.style.display = "block";
      linhaMotivo.style.display = "none";
    } else if (obs.value === "CANCELADO") {
      linha.style.display = "none";
      linhaMotivo.style.display = "block";
    } else {
      linha.style.display = "none";
      linhaMotivo.style.display = "none";
    }
  }

  toggleCampos();
  obs.addEventListener("change", toggleCampos);
</script>

<script>
  const form = document.querySelector("form");

  function normalizarNumeroInput(input) {
    if (!input || !input.value) return;

    input.value = input.value
      .replace(/\./g, "")
      .replace(",", ".")
      .trim();
  }

  form.addEventListener("submit", () => {
    normalizarNumeroInput(document.querySelector('[name="valor_equivalente"]'));
    normalizarNumeroInput(document.querySelector('[name="valor_original"]'));
    normalizarNumeroInput(document.querySelector('[name="valor_parcela"]'));
  });
</script>
{% endblock %}